/*

THE FONT FAMILY TO BE USED

font-family: 'Josefin Sans', sans-serif;

font-family: 'Questrial', sans-serif;

font-family: 'Exo', sans-serif;

font-family: 'Handlee', cursive;

font-family: 'Coming Soon', cursive;

font-family: 'Rancho', cursive;

*/



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=======================================================================
 Start of stylesheet

/*
============================
Styles for the whole website
============================
*/


/*
=========================
Body
=========================
*/


body{
<<<<<<< HEAD
    background-color: beige;
=======
    background-color: #f5f5dc;
>>>>>>> 855d97c37a28a51bc3c6efaaf4a4a1f7000c3eac
    
}
h1{
    font-family: 'Exo', sans-serif;
    font-size: 80px;
}
h2{
    font-family: 'Rancho', cursive;
    font-size: 48px;
}
h3{
    font-family: 'Coming Soon', cursive;
    font-size: 30px;
}
p{
    font-family: 'Josefin Sans', sans-serif;
}

/* Header */

header{
    background-image: url(../Pictures/1897822.jpg);
    
}
header h1{
    height: 90px;
}

#logo{
    font-family: 'Questrial', sans-serif;
    }

nav{
    height: 15%;
    background-image: url(../Pictures/wood_texture3793.jpg);
    animation: nav;
    animation-duration: 1s;
    -moz-animation: nav;
    -moz-animation-duration: 1s;
}
@keyframes nav{
    0%{
        left: 0;width: 70px;
    }
    100%{
        left: 0;width: 100%;
    }
}
.burger{
    list-style: none;
    display: inline-block;
    line-height: 1;
    border-radius: 3px;
    position: relative;
    width: 100%;
    height: 100%;
}
.burger > a{
    color: inherit;
    text-decoration: none;
    font-size: 24px;
    padding: 25px;
}
.burger img{
    height: 50px;
    width: auto;
    margin: 0 10px;
}
.list{
    width: 100%;
}
.menu{
    
    position: absolute;
    list-style: none;
    text-align: center;
    width: auto;
    height: 50px;
    margin: 0 1%;
    top: 0;
    left: 75px;
    right: auto;
    font-family: 'Handlee', cursive;
    width: 0px;
    overflow: hidden;
    
    -webkit-transition:width .6s ease;
	-moz-transition:width .6s ease;
	transition:width .6s ease;
}
.menu li{
    display: inline-block;
    
}
.burger:hover ul{
    width: 650px;
}
.item{
    
    padding: 15px 7%;
    text-align: center;
}
.item{
    text-decoration: none;
    display: inline-block;
    margin: 0;
    color: beige;
}
.item:hover{
    border-bottom: 5px beige solid;
}
.item:active{
    color: red;
}


/*
================================
Footer
================================
*/

footer{

    bottom: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
    clear: both;
    background-image: url(../Pictures/1897822.jpg);
    background-size: cover;
}
footer p{
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    color: white;
}

/* Menu */
/*
=============================
 Styles for individual pages
=============================
*/

/*
==========================
Home Page
==========================
*/
/* Main */

.main{
    height: 465px;
}
@keyframes slide1{
    0% {background-image: url(../Pictures/coffee-08.jpg);}
    25% {background-image: url(../Pictures/a-cup-of-coffee.jpg);}
    50% {background-image: url(../Pictures/coffee-beans.jpg);}
    75% {background-image: url(../Pictures/coffee-beans.jpg);}
    100% {background-image: url(../Pictures/DSC02673.jpg);}

}
.slide{
    height: 80%;
    width: auto;
    margin: 0 auto;
    background-image: url(../Pictures/a-cup-of-coffee.jpg);
    background-position: center;
    background-size:auto;
    animation-name: slide1;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    -moz-animation-name: slide1;
    -moz-animation-duration: 10s;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
}
.values section{

    float: left;
    width: 15%;
    padding: 0;
    margin-left: 3.5%;
}
.values1{

}
.values section img{
    height: 90%;
    width: 100%;
}
.values{
    margin: 0 auto;
    height: 250px;
}

/*
=============================
Menu page
=============================
*/

.centre{
    background-image: url(../Pictures/paper10.jpg);
}
#menubody{
    background-image: url(../Pictures/1897822.jpg);
}
.left{
    width: 10%;
}
.title{
    text-align: center;
    text-shadow: 0 0 4px brown;
    font-family: 'Exo', sans-serif;
    font-size: 80px;
}
.title{
  color: #000;
  font-family: 'Exo', sans-serif;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}


.title {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 3s ease-out;
    -moz-animation-iteration-count: infinite;
    opacity: 0.5;
    text-shadow: 0 0 8px white;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.2;
    }
    50% { 
        opacity: 1.0;
    }
    100% {
        opacity: 0.2;

    }
}
@-moz-keyframes pulsate {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.2;
    }
}
.centre .drinks{
    padding: 10%;
}
.centre .food{
    padding: 10%;
}
.centre li:hover{
    color: firebrick;
    font-size: 40px;
    padding: 5px;
}
.centre li{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

.centre{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.return img{
    width:5%;
}
#logo{
    width: 100px;
    height: auto;
    margin-left: 45%;
}
.head{
    display: inline-block;
}

/* Footer */
footer{
    bottom: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
    clear: both;
    background-image: url(../Pictures/wood_texture3793.jpg);
    height: 30px;

}
footer p{
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    color: black;
    font-size: 25px;
    text-align: center;
}


/*
==================================
ABOUT PAGE
==================================
*/


.about {
    padding: 5%;
}

.coffeMug {
    
}
