/*

THE FONT FAMILY TO BE USED

font-family: 'Josefin Sans', sans-serif;

font-family: 'Questrial', sans-serif;

font-family: 'Exo', sans-serif;

font-family: 'Handlee', cursive;

font-family: 'Coming Soon', cursive;

font-family: 'Rancho', cursive;

*/



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of stylesheet */

/* Body */
body{
    
    
}
h1{
    font-family: 'Exo', sans-serif;
}
h2{
    font-family: 'Rancho', cursive;
}
h3{
    font-family: 'Coming Soon', cursive;
}
p{
    font-family: 'Josefin Sans', sans-serif;
}

/* Header */

#logo{
    font-family: 'Questrial', sans-serif;
    }


.burger{
    list-style: none;
    display: inline-block;
    line-height: 1;
    margin: 1px;
    border-radius: 3px;
    position: relative;
    width: 100%;
}
.burger > a{
    color: inherit;
    text-decoration: none;
    font-size: 24px;
    padding: 25px;
}
.burger img{
    height: 45px;
    width: 45px;
}
.list{
    width: 100%;
}
.menu{
    background-image: url(../Pictures/wood_texture3793.jpg);
    position: absolute;
    list-style: none;
    text-align: center;
    width: auto;
    height: 50px;
    margin: 1%;
    top: 0;
    left: 55px;
    right: auto;
    font-family: 'Handlee', cursive;
    width: 0px;
    overflow: hidden;
    
    -webkit-transition:width 0.4s linear;
	-moz-transition:width 0.4s linear;
	transition:width 0.4s linear;
}
.menu li{
    display: inline-block;
    
}
.burger:hover ul{
    width: 650px;
}
.item{
    
    padding: 15px 7%;
    text-align: center;
}
.item a{
    text-decoration: none;
    display: block;
    margin: 0;
}

/* Main */

/* Footer */

